{% extends 'BaseVendedores.html' %}


{% block listaReporteClase %} class="active" {% endblock %}

{% block reporteClase %}class="tab-pane active{% endblock %}
{% block reporte %}

<h1> Reportes</h1>

<hr>
<ul class="thumbnails">
  <a href="/detalleReporteVendedor/001detallePedidos/">
  <li class="span4">
    <div class="thumbnail">
      <img src="/static/img/logo.png" alt="">
      <h4>Listado de Pedidos.</h4>
      <p>Puede seleccionar el listado de pedidos junto sus detalles, filtrandolo por fechas.</p>
    </div>
  </li>
  </a>

  <a href="/detalleReporteVendedor/002productosVendedor/">
   <li class="span4">
    <div class="thumbnail">
      <img src="/static/img/logo.png" alt="">
      <h4>Listado de productos.</h4>
      <p>Lista de productos juntos con su descripcion y porcentaje que representa en las ventas generales.</p>
    </div>
  </li>
  </a>

  <a href="/detalleReporteVendedor/003pedidosXEmpresa/">
   <li class="span4">
    <div class="thumbnail">
      <img src="/static/img/logo.png" alt="">
      <h4>Ventas por compradores.</h4>
      <p>Agrupa el numero de pedidos realizados por los compradores y los ordena del mayor comprador al menor</p>
    </div>
  </li>
  </a>


  <a href="/detalleReporteVendedor/004productosXVentas/">
   <li class="span4">
    <div class="thumbnail">
      <img src="/static/img/logo.png" alt="">
      <h4>Productos por numero de ventas</h4>
      <p>Listado de la cantidad de productos Vendidos</p>
    </div>
  </li>
  </a>

  
</ul>


{% endblock  %}
