{% extends 'BaseVendedores.html' %}


{% block listaUsuarioClase %} class="active" {% endblock %}

{% block usuarioClase %}class="tab-pane active{% endblock %}
{% block usuario %}
<div class="row-fluid">
		<h2>Agregar usuario</h2>	
		<form class="form-horizontal" method="POST" action="/agregar_usuario/">	
			<div class="control-group">
				<label class="control-label" for="user_name">Nombre de Usuario</label>
				<div class="controls">
					<input  type="text" name='nombre_user' id="username" placeholder="Nombre de Usuario"></input>
				</div>
			</div>																	
			<div class="control-group">
				<label class="control-label" for="password">Contraseña</label>
				<div class="controls">
					<input  type="password" name='pass' id="contraseña" placeholder="Contraseña"></input>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="password">Confirmar contraseña</label>
				<div class="controls">
					<input  type="password" name='pass' id="contraseña" placeholder="Confirmar contraseña"></input>
				</div>
			</div>		

			<div class="control-group">
				<label class="control-label" for="name">Nombre</label>
				<div class="controls">
					<input  type="text" name='nombre' id="name" placeholder="Nombre"></input>
				</div>
			</div>	

			<div class="control-group">
				<label class="control-label" for="last_name">Apellidos</label>
				<div class="controls">
					<input  type="text" name='apellido' id="lastname" placeholder="Apellidos"></input>
				</div>
			</div>	

			<div class="control-group">
				<label class="control-label" for="address">Direccion</label>
				<div class="controls">
					<input  type="text" name='address' id="direccion" placeholder="Direccion"></input>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="phone">Telefono</label>
				<div class="controls">
					<input  type="text" name='phone' id="Telefono" placeholder="Telefono"></input>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="email">e-mail</label>
				<div class="controls">
					<input  type="text" name='email' id="correo" placeholder="e-mail"></input>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Foto</label>
				<div class="controls">
					<input type="file" id="adjuntar_archivos"></input>
				</div>
			</div>			

			<div class="control-group">
				<label class="control-label">Tipo</label>
				<div class="controls">
					<select  name="tipo_user" id="select_tipo_user">
						<option value="catalogo" selected>Catalogo</option>
						<option value="pedidos" selected>Pedidos</option>
						<option value="consulta" selected>Consulta</option>
						<option value="administrador" selected>Administrador</option>
					</select>
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<button type="submit"class="btn" id="boton_guardar">Agregar</button>
					<button class="btn" id="boton_volver">Volver</button>

				</div>		
			</div>
	</form>
</div>
{% endblock %}
