{% extends 'BaseVendedores.html' %}


{% block listaCatalogoClase %} class="active" {% endblock %}

{% block catalogoClase %}class="tab-pane active{% endblock %}
{% block catalogo %}
			    

<div class="row-fluid">
		<h2>Agregar Producto</h2>	
		<form class="form-horizontal" method="POST" action="/agregarProducto/" enctype="multipart/form-data" onSubmit="return validarCategoria(this);">	
			{% csrf_token %}									
			<div class="control-group">
				<label class="control-label" for="nombre_producto">Nombre Producto</label>
				<div class="controls">
					<input  type="text" name='nombre_producto' id="name_product" placeholder="Nombre Producto" required></input>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="presentacion">Presentacion</label>
				<div class="controls">
					<input  type="text" name='presentacion' id="presentacion" placeholder="presentacion" required></input>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="unidades">Unidades del producto</label>
				<div class="controls">
					<input  type="number" name='unidades' id="unidades" placeholder="unidades" required></input>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="precio_compra">Precio de compra</label>
				<div class="controls">
					<input  type="number" maxlength="8" name='precio_compra' id="precio_compra" placeholder="Precio de compra" required></input>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="precio_venta">Precio de venta</label>
				<div class="controls">
					<input  type="number" maxlength="8" name='precio_venta' id="precio_venta" placeholder="Precio de venta" required></input>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">IVA</label>
				<div class="controls">
					<select  name="iva" id="select_iva" required>
						{% for i in tipoIVA %}
						<option value="{{i.pk}}" selected>{{i.porcentaje}}</option>
						{% endfor %}
					</select>
				</div> 
			</div>

			<div class="control-group">
				<label class="control-label" for="descuento">Descuento</label>
				<div class="controls">
					<input  type="number" name='descuento' id="descuento" placeholder="Descuento" required></input>
				</div>
			</div>	

			<div class="control-group">
				<label class="control-label">Foto</label>
				<div class="controls">
					<input type="file" name="foto" id="adjuntar_archivos" required></input>
				</div>
			</div>			

			<div class="control-group">
				<label class="control-label">Categoria</label>
				<div class="controls">
					<select  name="categoria" class="categoria">
						<option value="0">Seleccione Categoria</option>
						{{% for i in categorias %}
						<option value="{{i.pk}}">{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			

			<div class="control-group">
				<label class="control-label">Subcategoria</label>
				<div class="controls">
					<select  name="subcategoria" class="subcategoria">
						<option value="0">Seleccione subcategoria</option>
					</select>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Descripcion</label>
				<div class="controls">
					<textarea maxlength="50" name="descripcion" id="descripcion" rows="5" cols="50" required></textarea>
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<button type="submit" name="submit" class="btn" id="boton_guardar">Agregar </button>
					<a href="javascript:history.back()" class="btn">Volver</a>

				</div>		
			</div>
	</form>
</div>


{% endblock %}
