<html>
	<head>
		<title>{% block titulo %}{% endblock %}</title>

		<script type="text/javascript" src="/static/js/jquery-1.8.3.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.css">
		<link type="text/css" rel="stylesheet" href="/static/iconset/css/fontello.css" />
		<script type="text/javascript" src="/static/js/bootstrap.js"></script>
		<script type="text/javascript" src="/static/js/funciones.js"></script>

	</head>
	<body>
		<!--Encabezado de la pagina-->
		<header>
			<h1>CiberComerciante</h1>
		</header>
		<!--Cuerpo de la pagina-->
		<section>
		<!--Barra de Menu-->
			<div class="navbar">
			  <div class="navbar-inner">
			    <a class="brand" href="#">
			    	<i class="fa fa-user fa-2x fa-fw"></i> Nombre de la empresa
			    </a>
			    <a href="#" class='pull-right'>
			    	<i class="fa fa-cog fa-2x fa-fw pull-right"></i>Settings
			    </a>
			    <a href="/salir" class='pull-right'>
			    	<i class="fa fa-sign-out fa-2x fa-fw pull-right"></i>Logout
			    </a>
			  </div>
			</div>
		<!--Panel de secciones con menu izquierdo-->
			<div class="tabbable tabs-left">
		<!--lista izquierda de menu de opciones-->
				<ul class="nav nav-tabs">
				    <li {% block listaCatalogoClase%}{%endblock%}>
				    	<a href="/inicioVendedorCatalogo/">Catalogo</a>
				    </li>
		    		<li {% block listaPedidoClase%}{%endblock%}>
		    			<a href="/inicioVendedorPedidos/">Pedidos</a>
		    		</li>
		    		<li {% block listaReporteClase %}{% endblock %}>
		    			<a href="/inicioVendedorReportes/">Reportes</a>
		    		</li>
		    		<li {% block listaUsuarioClase %}{% endblock %}>
		    			<a href="/inicioVendedorUsuarios/">Usuarios</a>
		    		</li>
				</ul>
		<!--div que contiene los divs con el contenido de los paneles izquierdos-->
			  <div class="tab-content">
			    
			    <div {% block catalogoClase%}{%endblock%}  id="Catalogo">
					{% block catalogo %}{% endblock %}
			    </div>
			    <div {% block pedidoClase%}{%endblock%}  id="Pedidos">
					{% block pedido %}{% endblock %}
			    </div>
			    <div {% block reporteClase %}{% endblock %}  id="Reportes">
					{% block reporte %}{% endblock %}
			    </div>
			    <div {% block usuarioClase %}{% endblock %} id="Usuarios">  
					{% block usuario %}{% endblock %}
			    </div>

			  </div>
			</div>


		</section>
		<!--Pie de pagina de la pagina -->
		<footer>

		</footer>
	</body>
</html>

