{% extends 'BaseVendedores.html' %}


{% block listaUsuarioClase %} class="active" {% endblock %}

{% block usuarioClase %}class="tab-pane active{% endblock %}
{% block usuario %}
<div class="tab-pane" id="perfil">

	<div class="row-fluid">

		<h2>user_name</h2>
		<h3>tipo_usuario</h3>
		<div class="span4 well">
			<i class="fa fa-user fa-2x fa-fw"></i>
			<p>
				<strong>Nombre</strong>
				nombre
			</p>
			<p >
				<strong>Apellidos</strong>
				apellido
			</p>
			<p>
				<strong>Direccion</strong>
				direccion
			</p>
			<p>
				<strong>Direccion</strong>
				telefono
			</p>
			<p>
				<strong>e-mail</strong>
				email
			</p>
		</div>
		
	</div>
	<button class="btn">Volver</button>
</div>
{% endblock %}