{% extends 'BaseVendedores.html' %}


{% block listaCatalogoClase %} class="active" {% endblock %}

{% block catalogoClase %}class="tab-pane active{% endblock %}
{% block catalogo %}
<div class="row-fluid">
		<h2>Modificar producto</h2>
			
		<form class="form-horizontal" method="POST" action="/modificarProducto/" enctype="multipart/form-data">
		<input style="display:none;" name="pk" value="{{producto.pk}}"/>	
			{% csrf_token %}									
			<div class="control-group">
				<label class="control-label" for="nombre_producto">Nombre Producto</label>
				<div class="controls">
					<input  type="text" name='nombre_producto' id="name_product" value="{{producto.nombre_producto}}"></input>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="presentacion">Presentacion</label>
				<div class="controls">
					<input  type="text" name='presentacion' id="presentacion" value="{{producto.presentacion}}"></input>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="precio_compra">Precio de compra</label>
				<div class="controls">
					<input  type="text" name='precio_compra' id="precio_compra" value="{{producto.costo}}"></input>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="precio_venta">Precio de venta</label>
				<div class="controls">
					<input  type="text" name='precio_venta' id="precio_venta" value="{{producto.costo_venta}}"></input>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">IVA</label>
				<div class="controls">
					<select  name="iva" id="select_iva">
						{% for i in tipoIVA %}
						<option value="{{i.pk}}" selected>{{i.porcentaje}}</option>
						{% endfor %}
					</select>
				</div> 
			</div>

			<div class="control-group">
				<label class="control-label" for="descuento">Descuento</label>
				<div class="controls">
					<input  type="text" name='descuento' id="descuento" value="{{producto.descuento}}"></input>
				</div>
			</div>

			<div class="controls">
				<img src="/productos/twitter_logo.png">
			</div>

			<div class="control-group">
				<label class="control-label">Foto</label>
				<div class="controls">
					<input type="file" name="foto" id="adjuntar_archivos"></input>

				</div>
			</div>			


			<div class="control-group">
				<label class="control-label">Subcategoria</label>
				<div class="controls">
					<select  name="subcategoria" id="select_subcategoria">
						{% for i in subcategorias %}
						<option value="{{i.pk}}" selected>{{i.nombre_cat_interna}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Descripcion</label>
				<div class="controls">
					<textarea maxlength="50" name="descripcion" id="descripcion" rows="5" cols="50">{{producto.descripcion}}</textarea>
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<button type="submit"class="btn" id="boton_guardar">Guardar</button>
					<a href="/inicioVendedorCatalogo/" class="btn">Volver</a>

				</div>		
			</div>
	</form>
</div>
{% endblock %}