{% extends 'BaseVendedores.html' %}


{% block listaUsuarioClase %} class="active" {% endblock %}

{% block usuarioClase %}class="tab-pane active{% endblock %}
{% block usuario %}

<div class="row-fluid">
	{{ mensaje }}
	<form class="form-horizontal"  id="itemForm"  name="itemForm" method="POST" action="/modificarUsuarioV/">	
		{% csrf_token %}
		<input type="text" style="display : none;" name="idUsuario" value="{{vendedor.user.pk}}" >
		<div class="control-group">
			<label class="control-label" for="nombres">Nombres</label>
			<div class="controls">
				<input type="text" value="{{vendedor.user.first_name}}" id="nombres" name="nombres" placeholder="Nombre" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="apellidos">Apellidos</label>
			<div class="controls">
				<input type="text" id="apellidos" value="{{vendedor.user.last_name}}" name="apellidos" placeholder="Apellidos" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="username">Usuario</label>
			<div class="controls">
				<input type="text" value="{{vendedor.user.username}}" id="username" name="username" placeholder="Nombre" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email">Email</label>
			<div class="controls">
				<input type="email" id="email" value="{{vendedor.user.email}}" name="email" placeholder="Email" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">Nuevo Password</label>
			<div class="controls">
				<input type="password" id="password"  name="password" placeholder="Password"  required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">Permisos</label>
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" class="require-one" value="true"  {{admin}} id="administrador" name="administrador" > Administrador
				</label>
				<label class="checkbox">
					<input type="checkbox" class="require-one" value="true"  {{catalogo}} id="catalogo" name="catalogo"> Catalogo
				</label>
				<label class="checkbox">
					<input type="checkbox" class="require-one" value="true"  {{pedidos}} id="pedidos" name="pedidos"> Pedidos
				</label>
				<label class="checkbox">
					<input type="checkbox" class="require-one" value="true"  {{reportes}} id="reportes" name="reportes"> Reportes
				</label>
			<div class="error" style="width:300px;" id="form_error"></div>
				
			</div>

		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Modificar Usuario</button>
			</div>
		</div>
	</form>


</div>
{% endblock %}