{% extends 'BaseVendedores.html' %}

{% block listaCatalogoClase %} class="active" {% endblock %}

{% block catalogoClase %}class="tab-pane active{% endblock %}
{% block catalogo %}

<h1>Catalogo de Productos</h1>
<table class="table table-hover">
	<form action="/filtroVendedorCatalogo/" id="filtro" class="formularioTablasAjax" method = "POST" >
		{% csrf_token %}									
	<tr>
		<th>
			<div class="control-group">
				<div class="controls">
					<input type="text" name="nombreProducto"  placeholder="Buscar Producto" class="buscarInputTablas" style="height:30px">
				</div>
			</div>
		</th>
		<th>
			<select  name="categoria" class="categoria buscarSelectTablas">
						<option value="0">Seleccione Categoria</option>
						{{% for i in categorias %}
						<option value="{{i.pk}}">{{i}}</option>
						{% endfor %}
					</select>
				</th>
				<th>
					<select  name="subcategoria" class="subcategoria buscarSelectTablas">
						<option value="0">Seleccione subcategoria</option>
					</select>
				</th>
				<th>
					<div>
						<a class="btn" href="/formularioCategoria/">Agregar Subcategoria</a>
						<a class="btn" href="/formularioProducto/">Agregar Producto</a>
					</div>
				</th>
			</tr>
		</form>
	</table>
	<hr>

	<div class="tabla">
	<table class="table table-hover table-bordered eliminar">
	<tr>

		<th>
			Nombre Producto
		</th>
		<th>
			Categoria
		</th>
		<th>
			SubCategoria
		</th>
		<th style="width:100px;">Detalle</th>
		<th style="width:100px;">Editar</th>
		<th style="width:100px;">Eliminar</th>
	</tr>

	{% for i in products %}
	<tr> 
		<td>{{i.nombre_producto}}</td>
		<td>{{i.categoria.cat_producto}}</td>
		<td>{{i.categoria}}</td>
		<td class="texto-centrado" > 
			<a href="/visualizarProducto/{{i.pk}}"><i class="fa fa-search fa-lg"></i></i></a>


		</td>
		<td class="texto-centrado" >
			<a href="/modificarProductoformulario/{{i.pk}}"><i class="fa fa-pencil-square-o fa-lg"></i></a>
		</td>
		<td class="texto-centrado" >
			<a  data-toggle="modalC" data-target="#myModalC" nombre="{{i.nombre_producto}}" subcategoria="{{i.categoria}}" precioCompra="{{i.costo}}" PrecioVenta="{{i.costo_venta}}" descuento="{{i.descuento}}" iva="{{i.iva.porcentaje}}" descripcion="{{i.descripcion}}" imagen="{{i.imagen.url}}" presentacion="{{i.presentacion}}" empresa="{{i.empresa}}" producto="{{i.pk}}" class="eliminar_productos" ><i class="fa fa-trash-o rojo fa-lg" ></i></a>
		</td>
		
	</tr>
	{% endfor %}
</table>

<div class="pagination eliminar">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Pagina {{ products.number }} de {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">Siguiente</a>
        {% endif %}
    </span>
</div>
</div>
<!-- Modal Eliminar -->

<div class="modalC fade" id="myModalC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Eliminar Producto</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" method="POST" action="/eliminarProducto/">	
					{% csrf_token %}
					<div class="span4 well">
						<input type="text" id="pk_eliminar" name="pk_eliminar" style="display:none;"></input>

						<img src="{{d.imagen.url}}" width=150 height=150 border=5 vspace=10> 
						<p>
							<strong>Nombre Producto</strong>
							<div id="nombre_eliminar"></div>
						</p>
						<p>
							<strong>Subcategoria</strong>
							<div id="subcategoria_eliminar"></div>
						</p>
						<p >
							<strong>Presentacion</strong>
							<div id="presentacion_eliminar"></div>
						</p>
						<p>
							<strong>Precio Compra</strong>
							<div id="precioCompra_eliminar"></div>
						</p>
						<p>
							<strong>Precio Venta</strong>
							<div id="precioVenta_eliminar"></div>
						</p>
						<p >
							<strong>Descuento</strong>
							<div id="descuento_eliminar"></div>
						</p>
						<p >
							<strong>IVA</strong>
							<div id="iva_eliminar"></div>
						</p>
						
						<p >
							<strong>Descripcion</strong>
							<div id="descripcion_eliminar"></div>
						</p>
					</div>

			</div>
			<div class="modal-footer">
				<a  class="btn btn-default" data-dismiss="modal">Cancelar</a>
				<button type="submit" class="btn btn-danger">Eliminar producto</button>
				</form>

			</div>
		</div>
	</div>
</div>
{% endblock %}