{% extends 'BaseVendedores.html' %}


{% block listaUsuarioClase %} class="active" {% endblock %}

{% block usuarioClase %}class="tab-pane active{% endblock %}
{% block usuario %}

<h1> Usuario</h1>

						<table class="table table-hover">
 							<tr>
 								<th>
 									<div class="adduser">
 										<a href="#"><i class="icon-user-plus" id="ic"></i></a>
 									</div>
 								</th>
 								<th>
 									<select name="type_user" id="select" class="controls">
										<option value="administrador" selected>Administrador</option>
										<option value="catalogo" selected>Catalogo</option>
										<option value="pedidos" selected>Pedidos</option>
										<option value="consulta" selected>Consulta</option>
										<option value="todos" selected>Todos</option>
									</select>
 								</th>
 								<th>
 									<input  type="text" name='buscar' id="buscar" placeholder="buscar"></input>
 									<i class="icon-search"></i>
 								</th>
 							</tr>
 							<tr>
 								<th>Nombre Usuario</th>
 								<th>Tipo</th>
 								<th>Acciones</th>
 							</tr>
 							<tr>
 								<td>User 1</td>
 								<td>Administrador</td>
 								<td>
 									<div>
 										<a href="#"><i class="icon-user" id="ic"></i></a>
 										<a href="#"><i class="icon-pencil" id="ic"></i></a>
 										<a href="#"><i class="icon-cancel-circled" id="ic"></i></a>
 									</div>
 									
 								</td>
 								
 							</tr>

 							<tr>
 								<td>User 2</td>
 								<td>Consulta</td>
 								<td>
 									<div>
 										<a href="#"><i class="icon-user" id="ic"></i></a>
 										<a href="#"><i class="icon-pencil" id="ic"></i></a>
 										<a href="#"><i class="icon-cancel-circled" id="ic"></i></a>
 									</div>
 									
 								</td>
 								
 							</tr>
 							<tr>
 								<td>User 3</td>
 								<td>Administrador</td>
 								<td>
 									<div>
 										<a href="#"><i class="icon-user" id="ic"></i></a>
 										<a href="#"><i class="icon-pencil" id="ic"></i></a>
 										<a href="#"><i class="icon-cancel-circled" id="ic"></i></a>
 									</div>
 									
 								</td>
 								
 							</tr>

 							<tr>
 								<td>User 4</td>
 								<td>Pedidos</td>
 								<td>
 									<div>
 										<a href="#"><i class="icon-user" id="ic"></i></a>
 										<a href="#"><i class="icon-pencil" id="ic"></i></a>
 										<a href="#"><i class="icon-cancel-circled" id="ic"></i></a>
 									</div>
 									
 								</td>
 							
 							</tr>

 							<tr>
 								<td>User 5</td>
 								<td>Catalogo</td>
 								<td>
 									<div>
 										<a href="#"><i class="icon-user" id="ic"></i></a>
 										<a href="#"><i class="icon-pencil" id="ic"></i></a>
 										<a href="#"><i class="icon-cancel-circled" id="ic"></i></a>
 									</div>
 									
 								</td>
 	
 							</tr>

						</table>
{% endblock %}
