{% extends 'BaseVendedores.html' %}


{% block listaCatalogoClase %} class="active" {% endblock %}

{% block catalogoClase %}class="tab-pane active{% endblock %}
{% block catalogo %}

<h1> Catalogo </h1>

<table class="table table-hover">
	<tr>
		<th>
			<div>
				<a class="btn" href="/formularioCategoria/">Agregar Subcategoria</a>
				<a class="btn" href="/formularioProducto/">Agregar Producto</a>
			</div>
		</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<tr>
		<th>
			<div class="control-group">
				<div class="controls">
					<input type="text" id="producto" placeholder="Producto">
				</div>
			</div>
		</th>
		<th>
			<select name="categoria" id="select" class="controls">
				{% for i in categorias %}
				<option value="Categorias" selected>{{i.nombre_categoria}}</option>
				{% endfor %}
			</select>
		</th>
		<th>
			<select name="subcategoria" id="select" class="controls">
				{% for i in subcategorias %}
				<option value="subcategorias" selected>{{i.nombre_cat_interna}}</option>
				{% endfor %}
			</select>
		</th>
		<th>Acciones</th>
	</tr>
	{% for i in productos %}
	<tr> 
		<td>{{i.nombre_producto}}</td>
		<td>{{i.categoria.cat_producto}}</td>
		<td>{{i.categoria}}</td>
		<td>
			<div>
				<a href="/visualizarProducto/{{i.pk}}"><i class="icon-user" id="ic2"></i></a>
				<a href="/modificarProductoformulario/{{i.pk}}"><i class="icon-pencil" id="ic2"></i></a>
				<a href="#"><i class="icon-cancel-circled" id="ic2"></i></a>
			</div>
			
		</td>
		
	</tr>
	{% endfor %}
</table>

{% endblock %}
