{% extends 'BaseCompradores.html' %}

{% block listaUsuarioClase %} class="active" {% endblock %}

{% block usuarioClase %}class="tab-pane active{% endblock %}

{% block usuario %}
<h2>user_name</h2>
<h3>tipo_usuario</h3>
<div class="span4 well">
	<i class="fa fa-user fa-2x fa-fw"></i>
	<p>
		<strong>Nombre</strong>
		{{usuario.user.first_name}}
	</p>
	<p >
		<strong>Apellidos</strong>
		{{usuario.user.last_name}}
	</p>
	<p>
		<strong>Usuario</strong>
		{{usuario.user.username}}
	</p>
	<p>
		<strong>Direccion</strong>
		telefono
	</p>
	<p>
		<strong>e-mail</strong>
		{{usuario.user.email}}
	</p>
</div>
{% endblock%}
