<html>
	<head>
		<title>Detalle usuario</title>

		<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<style type="text/css"></style>
	</head>
	<body>
		<!--Encabezado de la pagina-->
		<header>
			<h1>CiberComerciante</h1> 
		</header>
		<!--Cuerpo de la pagina-->
		<section>
		<!--Barra de Menu-->
			<div class="navbar">
			  <div class="navbar-inner">
			    <a class="brand" href="#">
			    	<i class="fa fa-user fa-2x fa-fw"></i> Nombre del comerciante
			    </a>
			    <a href="#" class='pull-right'>
			    	<i class="fa fa-cog fa-2x fa-fw pull-right"></i>Settings
			    </a>
			    <a href="/salir" class='pull-right'>
			    	<i class="fa fa-sign-out fa-2x fa-fw pull-right"></i>Logout
			    </a>
			  </div>
			</div>
		<!--Panel de secciones con menu izquierdo-->
			<div class="tabbable tabs-left">
		<!--lista izquierda de menu de opciones-->
				<ul class="nav nav-tabs">
				    <li class="active">
				    	<a href="#Pedidos" data-toggle="tab">Pedidos</a>
				    </li>
		    		<li>
		    			<a href="#Inventario" data-toggle="tab">Inventario</a>
		    		</li>
		    		<li>
		    			<a href="#Reportes" data-toggle="tab">Reportes</a>
		    		</li>
		    		<li>
		    			<a href="#Usuarios" data-toggle="tab">Usuarios</a>
		    		</li>
				</ul>
		<!--div que contiene los divs con el contenido de los paneles izquierdos-->
			  <div class="tab-content">
			    
			    <div class="tab-pane active" id="Pedidos">
					<h1>Pedidos</h1>
			    </div>
			    <div class="tab-pane" id="Inventario">
			      	<h1>Inventario</h1>
			    </div>
			    <div class="tab-pane" id="Reportes">
			      	<h1>Reportes</h1>
			    </div>
			    <div class="tab-pane" id="Usuarios">
			    	<div class="tab-pane" id="perfil">

						<div class="row-fluid">

							<h2>user_name</h2>
							<h3>tipo_usuario</h3>
							<div class="span4 well">
								<i class="fa fa-user fa-2x fa-fw"></i>
								<p>
									<strong>Nombre</strong>
									nombre
								</p>
								<p >
									<strong>Apellidos</strong>
									apellido
								</p>
								<p>
									<strong>Direccion</strong>
									direccion
								</p>
								<p>
									<strong>Direccion</strong>
									telefono
								</p>
								<p>
									<strong>e-mail</strong>
									email
								</p>
							</div>
							
						</div>
						<button class="btn">Volver</button>
					</div>
			    </div>

			  </div>
			</div>


		</section>
		<!--Pie de pagina de la pagina -->
		<footer>

		</footer>
	</body>
</html>

