{% extends 'BaseCompradores.html' %}

{% block listaReporteClase %} class="active" {% endblock %}

{% block reporteClase %}class="tab-pane active{% endblock %}

{% block reporte %}

<h1> Reportes</h1>

<div class="row">
  <div class="span6">


<iframe width=100% height=75%  src="http://localhost:14342/ReportesCibercomerciante/reporte?reporte=d&par=34" frameborder="0"></iframe>

</div>
<div class="span6">

<iframe width=100% height=75%  src="http://localhost:14342/ReportesCibercomerciante/reporte?reporte=d&par=34" frameborder="0"></iframe>

</div>
<!-- fin row  -->
</div>

{% endblock %}