{% extends 'BaseCompradores.html' %}

{% block listaReporteClase %} class="active" {% endblock %}

{% block reporteClase %}class="tab-pane active{% endblock %}

{% block reporte %}

<h1> Reportes</h1>

<hr>
<ul class="thumbnails">
  <a href="/detalleReporteComprador/005pedidosComprados/">
  <li class="span4">
    <div class="thumbnail">
      <img src="/static/img/logo.png" alt="">
      <h4>Pedidos realizados a vendedores.</h4>
      <p>Listado de los pedidos realizados a empresas vendedores .</p>
    </div>
  </li>
  </a>

  <a href="/detalleReporteComprador/006productosVentas/">
   <li class="span4">
    <div class="thumbnail">
      <img src="/static/img/logo.png" alt="">
      <h4>Productos mas vendidos al publico.</h4>
      <p>Lista de productos juntos con su descripcion y porcentaje que representa en las ventas generales.</p>
    </div>
  </li>

  </a>
    <a href="/detalleReporteComprador/006productosVentas/">
   <li class="span4">
    <div class="thumbnail">
      <img src="/static/img/logo.png" alt="">
      <h3>Comportamiento de producto en ventas .</h3>
      <p>Detale grafico de las ventas de un producto en determinado tiempo.</p>
    </div>
  </li>
  </a>

    </a>
    <a href="/detalleReporteComprador/006productosVentas/">
   <li class="span4">
    <div class="thumbnail">
      <img src="/static/img/logo.png" alt="">
      <h3>Graficas generales de ventas  .</h3>
      <p>Datos globlales de las ventas del negocio, informe general.</p>
    </div>
  </li>
  </a>

</ul>

{% endblock %}