/*ETIQUETAS*/


/* IDs */

/* CLASES */
.texto-centrado  {
	text-align: center !important;
}

.texto-derecha {
	text-align:  right !important;
}

.texto-izquierda {
	text-align:  left !important;
}

.letra-mediana{
	font-size: 30px;
}

.margen-ancho { 

margin: 0 100px;

}

.margen-derecha { 

margin-right: 50px ;

}

.verde {
	color: green;
}
.rojo {
	color: red;
}

.ancho-mitad{
	width: 50%;
}




#header-registro{
	height: 100px;
	text-align: center;
}


.padding-10{
	padding-left: 10%;
}