{% extends 'BaseVendedores.html' %}

{% block listaPedidoClase %} class="active" {% endblock %}

{% block pedidoClase %}class="tab-pane active{% endblock %}

{% block pedido %}

<h1> Pedidos</h1>


<table class="table table-striped">

	<tr>
		<th>Nombre Empresa</th>
		<th>Estado </th>
		<th>Detalle</th>
	</tr>

	{% for i in ped %}
	<tr>
		<td> {{i.comprador.nombre_empresa}} </td>
		<td> {% if  i.estado_pedido = 'Pago'%} Despachado {% else %}  {{i.estado_pedido}}{% endif%}</td>
		<td> <a href="/detallePedidoVendedor/{{i.pk}}/"><i class="fa fa-clipboard fa-lg"></i></a> </td>
	</tr>
	{% endfor %}
	

</table>


{% endblock %}
