{% extends 'BaseVendedores.html' %}

{% block listaPedidoClase %} class="active" {% endblock %}

{% block pedidoClase %}class="tab-pane active{% endblock %}

{% block pedido %}

<h1> Pedidos</h1>


<table class="table table-striped">

	<tr>
		<th>Nombre Empresa</th>
		<th>Estado </th>
		<th>Detalle</th>
	</tr>

	{% for i in ped %}
	<tr>
		<td> {{i.comprador.nombre_empresa}} </td>
		<td> {{ i.estado_pedido}}</td>
		<td> <a href="{% if i.estado_pedido = 'No Pago' %}  /detallePedidoVendedor/{{i.pk}}/ {% endif %}"><i class="fa fa-clipboard fa-lg"></i></a> </td>
	</tr>
	{% endfor %}
	

</table>


{% endblock %}
