{% extends 'Administrador/BaseAdministrador.html' %}

{% block listaEmpresaClase %} class="active" {% endblock %}

{% block empresaClase %}class="tab-pane active{% endblock %}

{% block empresa %}

<div style="margin-left:80px;">
	
	<div class="row-fluid">

		<h2>{{empresa.nombre_empresa}}</h2>

		<div class="span4 well">
			
			
			<p>
				<strong>NIT</strong>
				{{empresa.nit}}
			</p>
			<p>
				<strong>Estado</strong>
				{{empresa.estado_empresa}}
			</p>
			<p >
				<strong>Sector</strong>
				{{empresa.cat_sector.sector}}
			</p>
			<p>
				<strong>Subsector</strong>
				{{empresa.cat_sector}}
			</p>
		</div>
		<a href="/productosAdmin/{{empresa.pk}}/" style="margin-left:50px;" class="btn">PRODUCTOS</a>
		<a href="/pedidosAdmin/{{empresa.pk}}/" style="margin-left:50px;" class="btn">PEDIDOS</a>
		<a href="/usuariosAdmin/{{empresa.pk}}/" style="margin-left:50px;" class="btn">USUARIOS</a>
		<a href="/reportesAdmin/{{empresa.pk}}/" style="margin-left:50px;" class="btn">REPORTES</a>
	</div>

	<a href="javascript:history.back()" class="btn">Volver</a>
</div>

	

{% endblock %}