<html>
	<head>
		<title>CiberComerciante</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="/static/js/jquery-1.8.3.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.css">
		<script type="text/javascript" src="/static/js/bootstrap.js"></script>
		<style type="text/css"></style>
	</head>
	<body>
		<!--Encabezado de la pagina-->
		<header>
			
		</header>
		<!--Cuerpo de la pagina-->
		<section>
		<!--Barra de Menu-->
			<div class="navbar">
			  <div class="navbar-inner">
			    <a class="brand" href="#">
			    	<i class="fa fa-user fa-2x fa-fw"></i> CiberComerciante
			    </a>
			    <form class="form-horizontal" method="POST" action="/logearse/">
				{% csrf_token %}
			    <div class="input-group input-group-lg pull-right login2">
  					<button class="btn">Ingresar</button>
				</div>
			    <div class="input-group input-group-lg pull-right login">
  					<div>
  						<span class="input-group-addon" id="sizing-addon1">Contraseña</span>
  					</div>
  					<div>
  						<input type="password" name="password" class="form-control" aria-describedby="sizing-addon1">
  					</div>
  					<div>
  						<a href="">¿olvidaste tu Contraseña?</a>
  					</div>
				</div>
			    <div class="input-group input-group-lg pull-right login">
  					<div>
  						<span class="input-group-addon" id="sizing-addon1">Usuario</span>
  					</div>
  					<div>
  						<input type="text" name="username" class="form-control" aria-describedby="sizing-addon1">
  					</div>
  					<div class="input-group login3">
      					<span class="input-group-addon">
        					<input class="pull-left"type="checkbox" aria-label="...">
      					</span><p class="pull-left1">No cerrar sesion</p>
    				</div>
				</div>
  				</form>
			  </div>

			</div>
		
		<a href="/registrar">registro</a>

		</section>
		<!--Pie de pagina de la pagina -->
		<footer>

		</footer>
	</body>
</html>

