<html>
	<head>
		<title>CiberComerciante</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="/static/js/jquery-1.8.3.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.css">
		<script type="text/javascript" src="/static/js/bootstrap.js"></script>
		<style type="text/css"></style>
	</head>
	<body>
		<!--Encabezado de la pagina-->
		<header>
			
		</header>
		<!--Cuerpo de la pagina-->
		<section>
		<!--Barra de Menu-->
			<div class="navbar">
			  <div class="navbar-inner container">
			    <a class="brand" href="#">
			    	<i class="fa fa-user fa-2x fa-fw"></i> CiberComerciante
			    </a>
		

  				<form class="form-horizontal pull-right navbar-form" method="POST" action="/logearse/">
  					{% csrf_token %}

             		<div class="input-group input-group-lg pull-right login2">
             			<input  class="span2" type="text" placeholder="Usuario" name="username">
              			<input  class="span2" type="password" placeholder="Contraseña" name="password">
              			<button class="btn">Ingresar</button>
					</div>
					<div class="login">
  						<a href="">recuperar contraseña</a>
  					</div>
            	</form>

			  </div>

			</div>
		
		<a href="/registrar">registro</a>

		</section>
		<!--Pie de pagina de la pagina -->
		<footer>

		</footer>
	</body>
</html>

