<html>
	<head>
		<title>CiberComerciante</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="/static/js/jquery-1.8.3.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.css">
		<script type="text/javascript" src="/static/js/bootstrap.js"></script>
		<style type="text/css"></style>
	</head>
	<body>
		<!--Encabezado de la pagina-->
		<header>
			
		</header>
		<!--Cuerpo de la pagina-->
		<section>
		<!--Barra de Menu-->
			<div class="navbar">
			  <div class="navbar-inner">
			    <a class="brand" href="#">
			    	<i class="fa fa-user fa-2x fa-fw"></i> CiberComerciante
			    </a>
			    <form class="form-horizontal" method="POST" action="/logearse/">
				{% csrf_token %}
			    <div class="input-group input-group-lg pull-right login2">
  					<button class="btn">Ingresar</button>
				</div>
			    <div class="input-group input-group-lg pull-right login">
  					<div>
  						<span class="input-group-addon" id="sizing-addon1">Contraseña</span>
  					</div>
  					<div>
  						<input type="password" name="password" class="form-control" aria-describedby="sizing-addon1">
  					</div>
  					<div>
  						<a href="">¿olvidaste tu Contraseña?</a>
  					</div>
				</div>
			    <div class="input-group input-group-lg pull-right login">
  					<div>
  						<span class="input-group-addon" id="sizing-addon1">Usuario</span>
  					</div>
  					<div>
  						<input type="text" name="username" class="form-control" aria-describedby="sizing-addon1">
  					</div>
  					<div class="input-group login3">
      					<span class="input-group-addon">
        					<input class="pull-left"type="checkbox" aria-label="...">
      					</span><p class="pull-left1">No cerrar sesion</p>
    				</div>
				</div>
  				</form>
			  </div>

			</div>
		<!--Panel de secciones con menu izquierdo-->
			<div class="tabbable tabs-left">
		<!--lista izquierda de menu de opciones-->
				<ul class="nav nav-tabs">
				    <li class="active">
				    	<a href="#Catalogo" data-toggle="tab">Catalogo</a>
				    </li>
		    		<li>
		    			<a href="#Pedidos" data-toggle="tab">Pedidos</a>
		    		</li>
		    		<li>
		    			<a href="#Reportes" data-toggle="tab">Reportes</a>
		    		</li>
		    		<li>
		    			<a href="#Usuarios" data-toggle="tab">Usuarios</a>
		    		</li>
				</ul>
		<!--div que contiene los divs con el contenido de los paneles izquierdos-->
			  <div class="tab-content">
			    
			    <div class="tab-pane active" id="Catalogo">
					<h1>Catalogo</h1>
			    </div>
			    <div class="tab-pane" id="Pedidos">
			      	<h1>Pedidos</h1>
			    </div>
			    <div class="tab-pane" id="Reportes">
			      	<h1>Reportes</h1>
			    </div>
			    <div class="tab-pane" id="Usuarios">
			    	<div>
			    		<button class="btn">Agregar Usuario</button>
			    		<div class="buscar_usuarios">
    					<select name="type_user" id="select" class="controls">
								<option value="administrador" selected>Administrador</option>
								<option value="catalogo" selected>Catalogo</option>
								<option value="pedidos" selected>Pedidos</option>
								<option value="consulta" selected>Consulta</option>
								<option value="todos" selected>Todos</option>
							</select>	
      					<button class="btn">Buscar</button>
    				</div>
			    	</div>    				
			      	<div class="active item">
						<table class="table table-hover">
 							<tr>
 								<th>Nombre Usuario</th>
 								<th>Tipo</th>
 								<th>Acciones</th>
 								<th>Detalle</th>
 							</tr>
 							<tr>
 								<td>User 1</td>
 								<td>Administrador</td>
 								<td>
 									<button class="btn btn-success">Modificar</button><button class="btn  btn-danger">Inactivar</button>
 								</td>
 								<td><button class="btn">Seleccionar</button></td>
 							</tr>

 							<tr>
 								<td>User 2</td>
 								<td>Pedidos</td>
 								<td>
 									<button class="btn btn-success">Modificar</button><button class="btn  btn-danger">Inactivar</button>
 								</td>
 								<td><button class="btn">Seleccionar</button></td>
 							</tr>

 							<tr>
 								<td>User 3</td>
 								<td>Reportes</td>
 								<td>
 									<button class="btn btn-success">Modificar</button><button class="btn  btn-danger">Inactivar</button>
 								</td>
 								<td><button class="btn">Seleccionar</button></td>
 							</tr>

 							<tr>
 								<td>User 4</td>
 								<td>Administrador</td>
 								<td>
 									<button class="btn btn-success">Modificar</button><button class="btn  btn-danger">Inactivar</button>
 								</td>
 								<td><button class="btn">Seleccionar</button></td>
 							</tr>

 							<tr>
 								<td>User 5</td>
 								<td>Catalogo</td>
 								<td>
 									<button class="btn btn-success">Modificar</button><button class="btn  btn-danger">Inactivar</button>
 								</td>
 								<td><button class="btn">Seleccionar</button></td>
 							</tr>

						</table>
					</div>
						<nav>
  							<ul class="pager">
    							<li><a href="#">Previous</a></li>
    							<li><a href="#">Next</a></li>
  							</ul>
						</nav>
			    </div>

			  </div>
			</div>


		</section>
		<!--Pie de pagina de la pagina -->
		<footer>

		</footer>
	</body>
</html>

