<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Registro</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style-generico.css">

	<script type="text/javascript" src="/static/js/jquery-1.8.3.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">

	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>

	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
	


	<script>
	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie != '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
            	cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            	break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
    }
    $.ajaxSetup({
    	beforeSend: function(xhr, settings) {
    		if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
    </script>
    <script type="text/javascript" src="/static/js/funciones.js"></script>
    <script type="text/javascript" src="/static/js/funcionesCompradores.js"></script>
    

</head>
<body>
	<!--Encabezado de la pagina-->
		<header>
			
		</header>
		<!--Cuerpo de la pagina-->
		<section>
		<!--Barra de Menu-->
			<div class="navbar">
			  <div class="navbar-inner container">
			    <a class="brand" href="#">
			    	<img src="/static/img/titulo.png" alt="">
			    </a>
		

  				<form  style="margin-top:20px;" class="form-horizontal pull-right navbar-form" method="POST" action="/logearse/">
  					{% csrf_token %}

             		<div class="input-group input-group-lg pull-right login2">
             			<input  class="span2" type="text" placeholder="Usuario" name="username">
              			<input  class="span2" type="password" placeholder="Contraseña" name="password">
              			<button class="btn">Ingresar</button>
		<a class="btn btn-info" href="/registrar">registro</a>

					</div>
					<div class="login">
  						<a href=""><i class="fa fa-unlock "></i> Recuperar contraseña</a>
  					</div>
            	</form>

			  </div>

			</div>
		

		</section>

<h2 class="texto-centrado">Registar Usuario</h2>
<hr>

	

{{mensaje}}


	<form class="form-horizontal" method="POST" action="/guardarUsuario/" >
		{%  csrf_token %}
		<!-- Inicio tipo usuario-->

	<!-- inicio fluid -->
<div class="row">
  <div class="span6 padding-10">

  	<h4 class="texto-centrado">Informacion Empresa</h4>
  			<hr>


		<div class="control-group">
			<label class="control-label " for="nombres-input">Tipo Empresa</label>
			<div class="controls">
				<select name="tipo" id='tipo'>
					<option value="Vendedor">Vendedor</option>
					<option value="Comprador">Comprador</option>
					<option value="Ambos">Vendedor y Comprador</option>
				</select>
			</div>
		</div>

		
		<!-- Fin tipo usuario-->


		<div class="control-group">
			<label class="control-label" for="nombres-input">Nombre Empresa o Comerciante</label>
			<div class="controls">
				<input type="text" id="nombres-input" name ="nombre_empresa" required>
			</div>
		</div>

		<div class="control-group" id="codigo-form">
			<label class="control-label" for="codigo-input">NIT</label>
			<div class="controls">
				<input type="number" id="codigo-input" name="nit" required>
			</div>
		</div>

		<div id="codigo-before">		
		</div>

		<div class="control-group" id="departamentos-form">
			<label class="control-label" for="contraseña-input">Departamento</label>
			<div class="controls">
				<select id="departamento" class="dep" name="departamento" required>
					<option value="0">Seleccione Departamento</option>
					{% for i in departamentos %}
					<option value="{{i.pk}}">{{i}}</option>
					{% endfor %}
				</select> 
			</div>
		</div>

		<div class="control-group" id="ciuadades-form">
			<label class="control-label" for="contraseña-input">Ciudad</label>
			<div class="controls">
				<select name="ciudades" id="seleccionar_ciudades" required>
					<option value="0">Seleccione Ciudad</option>
				</select>
			</div>
		</div>





		<div class="control-group">
			<label class="control-label" for="nombres-input">Direccion</label>
			<div class="controls">
				<input type="text" id="direccion-input" name ="direccion" required>
			</div>
		</div>




		<div class="control-group">
			<label class="control-label" for="telefono-input">Telefono</label>
			<div class="controls">
				<input type="text" id="telefono-input" name="telefono" required>
			</div>
		</div>



<!-- partir pantallas -->
		</div>
  		<div class="span6">

  			<h4 class="texto-centrado">Informacion Usuario</h4>
  			<hr>

		<div class="control-group">
			<label class="control-label" for="Representante-input">Representante</label>
			<div class="controls">
				<input type="text" id="Representante-input" name="representante" required>
			</div>
		</div>



		


		<div class="control-group" id="ciuadades-form">
			<label class="control-label" for="contraseña-input">Sector</label>
			<div class="controls">
				<select name="sectores">
					<option value="0">Seleccione Sector</option>
					{% for i in sectores %}
					<option value="{{i.pk}}">{{i}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="nombres-input">Nombre Usuario Administrador</label>
			<div class="controls">
				<input type="text" id="nombres-input" name ="username" required>
			</div>
		</div>


		
		<div class="control-group">		
			<label class="control-label" for="email-input">Correo Electrónico</label>
			<div class="controls">
				<input type="email" id="email-input" name="email" required>
			</div>
		</div>





		<div class="control-group">
			<label class="control-label" for="contraseña-input">Contraseña</label>
			<div class="controls">
				<input type="password"  name="password" id="contraseña-input"required>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="contraseña-input">Confirmar contraseña</label>
			<div class="controls">
				<input type="password"  name="password" id="contraseña-input"required>
			</div>
		</div>

		<div id="codigo-before2">		
		</div>		

		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-info">Crear Cuenta</button>
			</div>
		</div>


<!-- fin fuid -->
		</div>
		</div>

	</form>

		


</body>
</html>