<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Registro</title>
	<link href="/static/css/bootstrap.css" media="all" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap-switch-master/static/stylesheets/bootstrap-switch.css">
	<link rel="stylesheet" type="text/css" href="/static/css/signup.css">
	<script type="text/javascript" src="/static/js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="/static/bootstrap-switch-master/static/js/bootstrap-switch.js"></script>

	<style type="text/css">
	#tipo {
		display: none;
	}
	</style>
</head>
<body>

	<div id="topLogo" align="center">
		<h1>Logo cibercomerciante</h1>
	</div>
	<form class="form-horizontal" method="POST" action="/registrar_user/">
		<!-- Inicio tipo usuario-->
		<div class="input-group input-group-lg pull-right login" id="usuario-radio">
			<div id="label-switch" class="make-switch switch-large" data-on="warning" data-on-label="Vendedor" data-off-label="Comprador">
				<input type="checkbox" name="tipo_usuario" checked>
			</div>
			<div class="input-group login3">
				<span class="input-group-addon">
					<input id="label-check" class="pull-left"type="checkbox" aria-label="...">
				</span><p class="pull-left1"><strong>Ambos</strong></p>
			</div>
		</div>


		<select name="tipo" id='tipo'>
			<option value="Vendedor">v</option>
			<option value="Comprador">c</option>
			<option value="Ambos">a</option>
		</select>

		<script type="text/javascript">
		$('#label-switch').on('switch-change', function(e,data){
			if (data.value==false) {
				$('#codigo-form').remove();
				$("select option[value='Comprador']").attr("selected","selected");

			} else{
				$("#codigo-before").append('<div class="control-group" id="codigo-form"><label class="control-label" for="codigo-input">NIT</label><div class="controls"><input type="number" id="codigo-input" name="nit" required></div></div>');
				$("select option[value='Vendedor']").attr("selected","selected");

			}
		});


		if (document.getElementById("#label-check").checked) {
			$("#codigo-before").append('<div class="control-group" id="codigo-form"><label class="control-label" for="codigo-input">NIT</label><div class="controls"><input type="number" id="codigo-input" name="nit" required></div></div>');
			$("select option[value='Ambos']").attr("selected","selected");
		};

		</script>


		<script type="text/javascript">
		$('#label-switch').bootstrapSwitch('setOnClass', 'success');
		$('#label-switch').bootstrapSwitch('setOffClass', 'danger');
		</script>
		<!-- Fin tipo usuario-->


		<div class="control-group">
			<label class="control-label" for="nombres-input">Nombre Empresa o Comerciante</label>
			<div class="controls">
				<input type="text" id="nombres-input" name ="username" required>
			</div>
		</div>

		<div class="control-group" id="codigo-form">
			<label class="control-label" for="codigo-input">NIT</label>
			<div class="controls">
				<input type="number" id="codigo-input" name="nit" required>
			</div>
		</div>

		<div id="codigo-before">		
		</div>

		<div class="control-group" id="departamentos-form">
			<label class="control-label" for="contraseña-input">Departamento</label>
			<div class="controls">
				<select name="departamento">
					<option value="0">Seleccione Departamento</option>
					{% for i in departamentos %}
					<option value="{{i.pk}}">{{i}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="control-group" id="ciuadades-form">
			<label class="control-label" for="contraseña-input">Ciudad</label>
			<div class="controls">
				<select name="ciudades">
					<option value="ciudades">Ciudades</option>
				</select>
			</div>
		</div>



		<div class="control-group">
			<label class="control-label" for="nombres-input">Direccion</label>
			<div class="controls">
				<input type="text" id="direccion-input" name ="direccion" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="telefono-input">Telefono</label>
			<div class="controls">
				<input type="text" id="telefono-input" name="telefono" required>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="Representante-input">Representante</label>
			<div class="controls">
				<input type="text" id="Representante-input" name="Representante" required>
			</div>
		</div>
		

		<div class="control-group" id="ciuadades-form">
			<label class="control-label" for="contraseña-input">Sector</label>
			<div class="controls">
				<select name="sectores">
					<option value="sectores">Sectores</option>
				</select>
			</div>
		</div>

		
		<div class="control-group">		
			<label class="control-label" for="email-input">Correo Electrónico</label>
			<div class="controls">
				<input type="email" id="email-input" name="email" required>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="contraseña-input">Contraseña</label>
			<div class="controls">
				<input type="password"  name="password" id="contraseña-input"required>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="contraseña-input">Confirmar contraseña</label>
			<div class="controls">
				<input type="password"  name="password" id="contraseña-input"required>
			</div>
		</div>

		<div id="codigo-before2">		
		</div>		

		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Crear Cuenta</button>
			</div>
		</div>
		
	</form>
	
</body>
</html>